html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    /* bottom = footer height */
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

#title {
    color: white;
}

#map {
    width: 20em;
    height: 20em;
}
